.chat {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.participants {
    width: 30%;
}

.activeParticipant {
    width: 70%;
}

audio {
    display: none;
}